<div>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question.title %>
  <b>Description:</b>
  <%= @question.description %>
</p>

<p>
  <b>User:</b>
  <%= @question.user.name %>

<% if user_signed_in? %>
  <% if current_user.id == @question.user_id %>
    <td><%= link_to 'Edit', edit_question_path(@question) %></td>
    <td><%= link_to 'Destroy', @question, :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
<% end %>
</div>
</p>

<p>
<%= render 'answers/index'%>
</p>

<%= link_to 'Back', questions_path %>
