<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @answer.description %>
</p>

<p>
  <b>Question:</b>
  <%= @answer.question %>
</p>

<p>
  <b>User:</b>
  <%= @answer.user %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
