<!DOCTYPE html>
<html>
<head>
  <title>AskQuestion</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body style="margin-top:50px;">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href=<%= questions_path%>>Ask Questions</a>
        <div class="nav-collapse"  style ="float:right">
        <ul class="nav">
          <% if user_signed_in? -%>  
            <li><%= current_user.email %></li> 
            <li><%= link_to 'My info', edit_user_registration_path %></li> 
            <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end -%>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <p><%= notice %></p>
  <p><%= alert %></p>
  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
